<div class="bootstrap-wrapper">

    <div class="container mt">

        <div class="row">

            <div class="col-md-6 offset-md-3">

                <div class="container text-center">

                    <img class="image-fluid" style="width: 100px;" src="/assets/password.png" alt="">

                </div>

                <h1 class="text-center">Login here !!</h1>

                <!-- creating form -->
                <form (ngSubmit)="submitForm()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input name="username" [(ngModel)]="credentials.email" required matInput type="text">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input name="password" [(ngModel)]="credentials.password" required matInput type="password" >
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                        <button type="reset" style="margin-left: 10px;" mat-raised-button color="accent">Reset</button>
                    </div>

                </form>
<p style="margin-top: 10px;">{{credentials | json}}</p>
                

            </div>

        </div>

    </div>

</div>